.hero {
  background: #e10720;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero__content {
  position: relative;
  display: grid;
  grid-template-columns: 1.05fr 0.95fr;
  min-height: 100vh;
  align-items: stretch;
}

.hero__content::before {
  content: "";
  position: absolute;
  inset: 0 auto 0 0;
  width: 53%;
  background: #e10720;
  z-index: 0;
}

.hero__content::after {
  content: "";
  position: absolute;
  top: 0;
  rotate: -4deg;
  right: -5%;
  width: 58%;
  height: 100%;
  background: #000000;
  z-index: 0;
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
}

.hero__left,
.hero__right {
  position: relative;
  z-index: 1;
}

.hero__left {
  display: flex;
  align-items: center;
  padding: clamp(1.5rem, 4vw, 4rem);
}

.hero__text {
  max-width: 740px;
  margin-left: clamp(0.5rem, 1vw, 1.2rem);
}

.hero__title {
  margin: 0;
  color: #ffffff;
  font-family: Impact, Haettenschweiler, "Arial Black", sans-serif;
  font-size: clamp(4.2rem, 8vw, 21rem);
  line-height: 0.9;
  text-transform: none;
  text-shadow: 8px 8px 0 rgb(0 0 0 / 90%);
}


.hero__presentation {
  display: inline-block;
  background: rgb(0 0 0 / 90%);
  box-shadow: 12px 12px 0 rgb(55 55 55 / 29%);
  padding: 1.25rem 1.1rem;
  margin-top: 1.2rem;
  max-width: 600px;
}

.hero__presentation p {
  margin: 0;
  color: #f5f5f5;
  font-size: clamp(0.9rem, 1vw, 1.05rem);
  line-height: 1.6;
  font-weight: 500;
}

.hero__right {
  position: absolute;
  top: 47%;
  right:-54%;
  width: 100%;
  rotate: 34deg;
  height: 140%;
  background: #ffffff;
  overflow: hidden;
  z-index: 0;
}


.etoile {
  position: absolute;
  right: -30%;
  top: -30%;
  width: min(120vw, 40000px);
  height: auto;
  object-fit: contain;
  z-index: 2;
  pointer-events: none;
  filter: drop-shadow(0 0 18px rgba(0, 0, 0, 0.2));
}

.hero__stars {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.hero__stars::before,
.hero__stars::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255,255,255,0.1);
}

@media (max-width: 900px) {
  .hero__content {
    grid-template-columns: 1fr;
  }

  .hero__content::before,
  .hero__content::after {
    display: none;
  }

  .hero__left {
    padding-bottom: 0.5rem;
  }

  .etoile {
    top: -12%;
    right: -22%;
    width: min(135vw, 1100px);
  }

  .hero__right {
    min-height: 40vh;
  }
}

@media (max-width: 600px) {
  .etoile {
    top: -36%;
    right: -100%;
    width: min(165vw, 980px);
  }
}
